<footer class="footer-area p-3 section-gap">
    <div class="container">
      <div class="footer row align-items-center mt-5 mb-4">
        <div class="footer-left col-lg-6 col-md-6 col-sm-12">
          <h1>JOIN OUR CLASS TODAY</h1>
          <p>Let your journey of ideal body begins</p>
        </div>
        <div class="footer-right col-lg-6 col-md-6 col-sm-12">
          <div class="my-4">
            <h2>Home Pilates Studio</h2>
            <a href="https://maps.app.goo.gl/8V99Pyg82etrUswj9" target="_blank"><i class="fi fi-rs-marker"></i> Home Pilates Studio</a>
          </div>
          <div class="my-4">
            <h2>Live Chat (Working Hours)</h2>
            <a href="https://wa.me/6287822282068" target="_blank"><i class="fi fi-brands-whatsapp"></i> Chat with Admin</a>
          </div>
          <div class="my-4">
            <h2>Follow Us</h2>
            <a href="https://www.instagram.com/home_pilates_studio" target="_blank"><i class="fi fi-brands-instagram"></i> Home Pilates Studio</a>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="footer-text text-center text-light w-100">
          Copyright ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </p>
      </div>
    </div>
  </footer>